/** Back to top button  */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease, background-color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;

}

.back-to-top:hover {
  background-color: var(--color-secondary);
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}
