/* =============================
Starbrew Coffee - style.css
Inspired by Starbucks aesthetic
============================= */

/* ===== CSS VARIABLES ===== */
@import url('base.css');
@import url('components.css');
@import url('layout.css');
@import url('sections.css');
/* @import url('ultilities.css'); */
@import url('sections.css');




/* #theme-toggle {
background: none;
border: none;
color: #fff;
font-size: 1.2rem;
cursor: pointer;
transition: transform var(--transition-fast);
}

#theme-toggle:hover {
transform: scale(1.1);
} */







/* ---------------- MENU PAGE ---------------- */



/* DARK MODE ADJUSTMENTS */
/* body.dark-mode .menu-header {
  background: #111;
}

body.dark-mode .menu-card {
  background: #222;
}

body.dark-mode .menu-info h3 {
  color: #f0f0f0;
}

body.dark-mode .menu-info p {
  color: #ccc;
}

body.dark-mode .menu-info .price {
  color: #90ee90;
} */

/* RESPONSIVE */














